.mail-container{
    background-color: var(--color-3);
    max-width: 700px;
    border-radius: 10px;
    border: none;
    color: var(--color-4);
    margin: auto;
    margin-top: 3rem;
    padding: 2rem 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.mail-container h1{
    border-bottom: 2px solid var(--color-4);
    margin-bottom: 1rem;
}

.box{
    border-bottom: 1px solid var(--color-4);
    padding: 10px;
    width: 90%;
    justify-content: space-between;
    display: flex;
}
.box label{
    padding: 0 1rem;
    /* min-width: 400px; */
}

.box input{
    background-color: var(--color-1);
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-4);
    outline: none;
    padding: 3px 1rem;
    width: 50%;

}

.content{
    background-color: var(--color-1);
    color: var(--color-2);
    margin: 2rem 1rem;
    min-height: 250px;
    padding: 1rem 10px;
    border-radius: 10px;
}